#about {
    scroll-margin-top: 10vh;
}

.app__about {
    flex-direction: column;
}

.app__about-title {
    font-size: xx-large;
    margin: 2rem 0 1rem 0;
}

.app__about-system {
    font-size: x-large;
    margin: 1rem 0 4rem 0;
}

.app__about-split-container { 
    border: 1px solid blue;
    width: 90%;
    height: 75vh;
}

.app__about-left {
    flex-direction: column;
    border: 1px solid pink;
    height: 100%; 
    width: 50%;
}

.app__about-right {
    border: 1px solid purple;
    height: 100%;
    width: 50%;
}

