#about {
    scroll-margin-top: 10vh;
}

.app__about {
    flex-direction: column;
}

.app__about-title {
    font-size: xx-large;
    margin-top: 1rem;
}

.app__about-system {
    font-size: x-large;
    margin: 1rem 0 2rem 0;
}

.app__about-split-container { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    height: 70vh;
}

.app__about-left {
    flex-direction: column;
    height: 100%; 
    width: 49%;
    border: 1px solid red;
}

.app__about-image {
    background-image: url(../../Assets/TSLimgAbout.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 75%;
    border: 1px solid lightblue;
    margin-bottom: 1rem;
    border-radius: 5px;
}

.app__about-caption {
    width: 100%;
    height: 25%;
    border: 1px solid green;
}

.app__about-right {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    height: 75%;
    width: 49%;

    p {
        font-size: larger;
    }
}

.app__about-hero-img {
    background-image: url(../../Assets/bigme.jpg);
    background-repeat: no-repeat;
    background-position: top;
    height: 85%;
    width: 75%;
    border: 1px solid blue;
}




