.app__blog-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app__blog-title {
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: xx-large;
  margin: 7rem 0 0 0;
  border-radius: 0.5rem;
  padding: 0.65rem 1.5rem;
}

.app__blog-container {
  display: flex;
  justify-content: center;
  margin: 2rem 0 5rem 0;
  flex-wrap: wrap;
}

.app__blogPost-component {
  max-width: fit-content;
  min-width: fit-content;
  margin: 1rem;

  @media screen and (max-width: 850px) {
    min-height: fit-content;
  }
}

.app__blogPost-component:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 350ms;
}

.app__blogComponent-style {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5rem;
}

.app__blogComponent-img {
  height: 200px;
  width: 268px;
  margin-bottom: 1.5rem;
}

.app__blogComponent-topic {
  position: absolute;
  border: 1px solid var(--primary-color);
  background-color: var(--white-color);
  padding: 0.35rem 1.5rem;
  margin-bottom: 4rem;
  color: var(--secondary-color);
  box-shadow: -5px 5px var(--secondary-color);
}

.app__blogComponent-title {
  font-size: large;
  color: var(--secondary-color);
  font-weight: bold;
  margin: 1rem 0;
  text-align: justify;
}

.app__blog-link {
  text-decoration: none;
  height: 16rem;
}

.app__blog-readMoreTop {
  display: flex;
  align-self: flex-end;
  cursor: pointer;
  color: var(--secondary-color);
  margin: 5rem 5rem 0 0;
}

.app__blog-readMoreBottom {
  display: flex;
  align-self: flex-end;
  cursor: pointer;
  color: var(--secondary-color);
  margin: 0 5rem 5rem 0;

  a {
    text-decoration: none;
    color: var(--secondary-color);
  }
}
