.app__blog-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.app__blog-title {
    background-color: #78857f;
    color: white;
    font-size: xx-large;
    margin: 7rem 0 0 0;
    border-radius: 0.5rem;
    padding: 0.65rem 1.5rem;
}

.app__blog-container {
    display: flex;
    justify-content: space-around;
    margin: 5rem 2rem 7rem 2rem;
    flex-wrap: wrap;
}

.app__blogPost-component {
    max-width: 300px;
    min-width: 300px;
    display: flex;
    overflow: hidden;
    margin: 2rem;
    box-shadow: -3px 3px 10px #78857f;
    border-radius: 0.5rem;
    padding: 1rem;

    @media screen and (max-width: 850px) {
        max-width: 300px;
        min-width: 300px;
        min-height: fit-content;
        margin: 1rem;
    }
}

.app__blogPost-component:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 350ms;
}

.app__component-img {
    height: 200px;
    width: 268px;
    border-radius: 0.25rem;
}

.app__component-title {
    font-size: large;
    color: #424946;
}

.app__blog-link {
    text-decoration: none;
    height: 16rem;
}


// BlogPage CSS

.app__blogPage {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px #78857f;
    min-height: fit-content;
    margin: 2rem;
    border-radius: 0.25rem;
}

.app__blogPage-container {
    padding: 2rem;
}

.app__blogPage-back {
    display: flex;
    justify-content: flex-end;
}

.app__blogPage-backbutton {
    width: 4rem;
    height: 2rem;
    margin: 0 0 1rem 1rem;
    border: none;
    color: white;
    border-radius: 0.125rem;
    font-family: 'Playfair Display';
    font-weight: bold;
    background-color: #78857f;
}

.app__blogPage-backbutton:hover {
    cursor: pointer;
    background-color: #424946;
}

.app__blogPage-title {
    text-align: center;
    padding: 1rem;
    background-color: #78857f;
    color: white;
    font-family: "Playfair Display";
    border-radius: 0.125rem;
}

.app__blogPage-img {
    height: 50vh;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
    margin: 1rem 0;
    border-radius: 0.125rem;
}

.app__blogPage-content {
    color: #424946;

    p {
        text-align: justify;
        padding: 0;
        font-size: x-large;
        line-height: 2.25rem;
    }
}

.app__blogPage-footer {
    display: flex;
    justify-content: space-between;
    margin: 5rem 0 0 0;
    color: #424946;
}

.app__blogPage-author {
    font-size: small;
    font-family: 'Playfair Display';
}

.app__blogPage-avatar {
    margin-left: 1rem;
    height: 2.2rem;
    width: 2rem;
    border-radius: 50%;
    box-shadow: -1px 1px 2px #424946;
}

.app__blogPage-date {
    font-size: medium;
    align-self: center;
    font-family: 'Playfair Display';
}

@media screen and (max-width: 1000px) {
    .app__blogPage-img {
        height: 40vh;
    }
}


@media screen and (max-width: 768px) {
    .app__blogPage {
        margin: 0.65rem;
    }

    .app__blogPage-container {
        padding: 1rem;
    }

    .app__blogPage-title {
        font-size: x-large;
    }

    .app__blogPage-img {
        height: 30vh;
    }

    .app__blogPage-content {
        p {
            font-size: large;
            line-height: 1.5;
        }
    }
}