// BlogPage CSS

.app__blogPage {
  display: flex;
  flex-direction: column;
  min-height: fit-content;
}

.app__blogPage-container {
  padding: 5rem;
}

.app__blogPage-back {
  display: flex;
  justify-content: flex-end;
}

.app__blogPage-backbutton {
  width: 4rem;
  height: 2rem;
  margin: 0 0 1rem 1rem;
  border: 1px solid var(--secondary-color);
  color: var(--white-color);
  font-family: 'Playfair Display';
  background-color: var(--primary-color);
}

.app__blogPage-backbutton:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
}

.app__blogPage-title {
  text-align: center;
  padding: 1rem 1rem 3rem 1rem;
  margin: 1rem 3rem 3rem 3rem;
  color: var(--secondary-color);
  font-family: 'Playfair Display';
  font-size: 55px;
  border-bottom: 2px solid var(--secondary-color);
}

.app__blogPage-img {
  height: 50vh;
  width: 100%;
  object-fit: cover;
  object-position: bottom;
  margin: 1rem 0;
  //border-radius: 0.125rem;
}

.app__blogPage-content {
  color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;

  .app__blogPage-divider {
    border-bottom: 1px solid var(--secondary-color);
    width: 20rem;
    margin: 5rem 0;

    @media screen and (max-width: 768px) {
      width: 15rem;
    }
  }

  p {
    text-align: center;
    font-size: large;
    font-style: italic;
    line-height: 2.25rem;
    width: 75vw;

    @media screen and (max-width: 600px) {
      width: 80vw;
    }

    @media screen and (max-width: 450px) {
      width: 85vw;
    }
  }
}

.app__blogPage-head {
  display: flex;
  justify-content: center;
  margin: 2rem 0 2rem 0;
  color: var(--secondary-color);
}

.app__blogPage-author {
  font-size: medium;
  font-family: 'Playfair Display';
}

.app__blogPage-avatar {
  margin: 0 1rem;
  height: 2.2rem;
  width: 2rem;
  border-radius: 50%;
}

.app__blogPage-date {
  font-size: large;
  align-self: center;
  font-family: 'Playfair Display';
}

@media screen and (max-width: 1000px) {
  .app__blogPage-img {
    height: 40vh;
  }
}

@media screen and (max-width: 768px) {
  .app__blogPage {
    margin: 0.65rem;
  }

  .app__blogPage-container {
    padding: 3rem;
  }

  .app__blogPage-title {
    font-size: xx-large;
  }

  .app__blogPage-img {
    height: 30vh;
  }

  .app__blogPage-content {
    p {
      font-size: large;
      line-height: 1.5;
    }

    .app__blogPage-head {
      margin: 2rem 0;
    }
  }

  @media screen and (max-width: 620px) {
    .app__blogPage-container {
      padding: 2rem;
    }

    .app__blogPage-title {
      margin: 0;
      padding: 1rem 1rem 3rem 1rem;
    }
  }

  @media screen and (max-width: 474px) {
    .app__blogPage-container {
      padding: 1rem;
    }
  }
}
