.app__services {
    flex-direction: column;
    background-color: #78857f;
    padding-bottom: 5rem;
}

.app__services-title {
    background-color: white;
    color: #424946;
    font-size: xx-large;
    margin: 7rem 0 5rem 0;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
}

.app__services-split-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90%;
    height: 100vh;
    border: 2px solid white;

    @media screen and (max-width: 850px) {
        flex-direction: column;
    }
}

.app__services-left{
    height: 100%;
    width: 50%;
    padding: 2rem;
    color: white;

    @media screen and (max-width: 850px) {
        width: 100%;
        padding: 1rem;
    }
}

.app__services-img-121 {
    background-image: url(../../Assets/TSLimg121.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 60%;
    border: 1px solid white;

    @media screen and (max-width: 850px) {
        height: 80%;
     }
}

.app__services-right{
    height: 100%;
    width: 50%;
    padding: 2rem;
    color: white;

    @media screen and (max-width: 850px) {
        width: 100%;
        padding: 1rem;
    }
}

.app__services-img-stretch {
    background-image: url(../../Assets/TSLimggroup.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 60%;
    border: 1px solid white;

    @media screen and (max-width: 850px) {
       height: 80%;
    }
}