.app__video-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.app__video-back {
    display: flex;
    padding: 2rem 2rem 0 0;
    width: 100%;
    justify-content: flex-end;
}

.app__video-backbutton {
    width: 4rem;
    height: 2rem;
    border: 1px solid #a8b8b0;
    color: #424946;
    border-radius: 2.5px;
    box-shadow: -1px 1px 3px #424946;
}

.app__video-backbutton:hover {
    cursor: pointer;
}

.app__video-title {
    display: flex;
    background-color: #78857f;
    color: white;
    font-size: xx-large;
    margin: 5rem 0;
    border-radius: 0.5rem;
    padding: 0.65rem 1.5rem;
}

.app__video-container{
    display: flex;
    flex-wrap: wrap;
}

.app__video-component{
    margin: 1rem;
    overflow: hidden;
    height: 250px;
    width: 200px;
    padding: 0.5rem;
    box-shadow: -2px 2px 10px #78857f;
    border-radius: 5px;
}

.app__video-img{
    width: 100%;
    border-radius: 2.5px;
}

.app__video-link{
    color: #424946;
    text-decoration: none;
}

.app__video-component-title{
    padding: 0.25rem;
}