.app__workout{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #78857f;
}

.app__workout-title {
    display: flex;
    background-color: white;
    color: #78857f;
    font-size: xx-large;
    margin: 7rem 0 0 0;
    border-radius: 0.5rem;
    padding: 0.65rem 1.5rem;
}

.app__workout-sections {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5rem 5rem 6rem 5rem;
}

@media screen and (max-width: 800px){
    .app__workout-sections {
        flex-direction: column;
        margin: 5rem 1rem 1rem 1rem;
    }
}