.app__header {
  flex-direction: column;
  background-color: var(--primary-color);
  padding: 5rem 0 2rem 0;

  @media screen and (max-width: 900px) {
    padding: 6rem 0 2rem 0;
  }
}

.app__header-top {
  width: 90%;
}

.app__header-img {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid var(--white-color);
  object-fit: cover;
  margin-bottom: 1rem;
  flex: 1;
  max-height: 55vh;
  min-height: 55vh;
  width: 90%;
}

.app__header-pic-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 7rem;
  left: 6rem;

  @media screen and (max-width: 900px) {
    left: 4rem;
  }

  @media screen and (max-width: 655px) {
    top: 7rem;
    left: 3rem;
  }

  @media screen and (max-width: 515px) {
    left: 2rem;
  }

  @media screen and (max-width: 395px) {
    left: 1.7rem;
  }

  @media screen and (max-width: 355px) {
    visibility: hidden;
  }
}

.app__header-pic-text-upper {
  font-size: 40px;
  font-weight: bold;
  padding: 1rem;
  margin-bottom: 1rem;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(4px);
  border-radius: 0.25rem;

  @media screen and (max-width: 900px) {
    font-size: 32px;
  }

  @media screen and (max-width: 655px) {
    font-size: 25px;
    padding: 0.5rem;
  }

  @media screen and (max-height: 600px) {
    font-size: 25px;
    padding: 0.5rem;
  }

  @media screen and (max-width: 515px) {
    font-size: 20px;
    padding: 0.25rem 0.1rem;
  }

  @media screen and (max-height: 600px) {
    font-size: 25px;
    padding: 0.5rem;
  }

  @media screen and (max-width: 454px) {
    font-size: 18px;
  }
}

.app__header-pic-text-lower {
  font-size: 36px;
  padding: 1rem;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(4px);
  border-radius: 0.25rem;

  @media screen and (max-width: 900px) {
    font-size: 24px;
  }

  @media screen and (max-width: 655px) {
    font-size: 20px;
    padding: 0.5rem;
  }

  @media screen and (max-height: 600px) {
    font-size: 20px;
    padding: 0.75rem;
  }

  @media screen and (max-width: 515px) {
    font-size: 20px;
  }

  @media screen and (max-width: 454px) {
    font-size: 18px;
  }
}

.app__header-lower {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  height: 11rem;
  max-height: 20rem;
  color: var(--secondary-color);

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.app__header-lower-left {
  background-image: url('../../Assets/faqs.jpg');
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;

  border: 2px solid var(--white-color);
  height: 100%;
  width: 32%;
  text-decoration: none;
  font-size: xx-large;
  color: var(--secondary-color);

  p {
    border-radius: 0.25rem;
    padding: 0.2rem 1rem;
    box-shadow: 1px 1px 5px var(--secondary-color);
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(4px);
  }

  p:hover {
    transform: scale(1.05);
    transition: 350ms;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
    background-image: none;
    margin-top: 0.5rem;
    background-color: var(--secondary-color);

    p {
      background-color: var(--secondary-color);
      color: var(--white-color);
      box-shadow: none;
    }
  }
}

.app__header-lower-middle {
  background-image: url('../../Assets/FitnessTest.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;

  border: 2px solid var(--white-color);
  height: 100%;
  width: 32%;
  text-decoration: none;
  font-size: xx-large;
  color: var(--secondary-color);

  p {
    border-radius: 0.25rem;
    padding: 0.2rem 1rem;
    box-shadow: 1px 1px 5px var(--secondary-color);
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(4px);
  }

  p:hover {
    transform: scale(1.05);
    transition: 350ms;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
    background-image: none;
    margin-top: 0.5rem;
    background-color: var(--secondary-color);

    p {
      background-color: var(--secondary-color);
      color: var(--white-color);
      box-shadow: none;
    }
  }
}

.app__header-lower-right {
  background-image: url('../../Assets/videos.jpg');
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;

  border: 2px solid var(--white-color);
  height: 100%;
  width: 32%;
  text-decoration: none;
  font-size: xx-large;
  color: var(--secondary-color);

  p {
    border-radius: 0.25rem;
    padding: 0.2rem 1rem;
    box-shadow: 1px 1px 5px var(--secondary-color);
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(4px);
  }

  p:hover {
    transform: scale(1.05);
    transition: 350ms;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
    background-image: none;
    margin-top: 0.5rem;
    background-color: var(--secondary-color);

    p {
      background-color: var(--secondary-color);
      color: var(--white-color);
      box-shadow: none;
    }
  }
}
