.app__header {
    height: 100vh;
    flex-direction: column;
    background-color: #78857f;
    padding: 5rem 0 1rem 0;
}

.app__header-top{
    width: 90%;
}

.app__header-img {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid white;
    object-fit: cover;
    margin-bottom: 1rem;
    flex: 1;
    max-height: 55vh;
    min-height: 55vh;
    width: 90%;
}

.app__header-pic-text-upper {
    position: absolute;
    font-size: 48px;
    font-weight: bolder;
    color: white;
    top: 10rem;
    right: 7rem;
    border: 1px solid white;
    padding: 1rem;

    @media screen and (min-width: 1200px) {
        right: 8rem;
    }

    @media screen and (max-width: 900px) {
        font-size: 36px;
        right: 5rem;
    }

    @media screen and (max-width: 700px) {
        font-size: 30px;
        right: 4rem;
        padding: 0.75rem;
        top: 12rem;
    }

    @media screen and (max-width: 590px) {
        visibility: hidden;
    }

    @media screen and (max-height: 600px) {
        font-size: 30px;
        padding: 0.75rem;
    }

    @media screen and (max-height: 320px) {
        visibility: hidden;
    }
}

.app__header-pic-text-lower {
    border: 1px solid white;
    position: absolute;
    font-size: 36px;
    color: white;
    top: 18rem;
    right: 7rem;
    padding: 1rem;

    @media screen and (min-width: 1200px) {
        right: 8rem;
    }


    @media screen and (max-width: 900px) {
        font-size: 24px;
        right: 5rem;
    }

    @media screen and (max-width: 700px) {
        font-size: 20px;
        right: 4rem;
        padding: 0.75rem;
    }

    @media screen and (max-width: 590px) {
        visibility: hidden;
    }

    @media screen and (max-height: 600px) {
        font-size: 20px;
        padding: 0.75rem;
    }

    @media screen and (max-height: 530px) {
        visibility: hidden;
    }
}

.app__header-lower {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    height: 20rem;
    max-height: 20rem;

    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
}

.app__header-lower-left {
    background-color: lightsteelblue;
    border: 1px solid white;
    height: 100%;
    width: 32%;
    font-size: xx-large;

    @media screen and (max-width: 768px) {
        width: 100%;
    }
}

.app__header-lower-middle {
    background-color: lightgray;
    border: 1px solid white;
    height: 100%;
    width: 32%;
    font-size: xx-large;

    @media screen and (max-width: 768px) {
        width: 100%;
        margin-top: 0.5rem;
    }
}

.app__header-lower-right {
    background-color: lightblue;
    border: 1px solid white;
    height: 100%;
    width: 32%;
    font-size: xx-large;

    @media screen and (max-width: 768px) {
        width: 100%;
        margin-top: 0.5rem;
    }
}