.app__FAQ-container {
    display: flex;
    flex-direction: column;
    background-color: #78857f;
    align-items: center;
    min-height: 100vh;
}

.app__FAQ-back {
    display: flex;
    padding: 2rem 2rem 0 0;
    ;
    width: 100%;
    justify-content: flex-end;
}

.app__FAQ-backbutton {
    width: 4rem;
    height: 2rem;
    border: 1px solid #a8b8b0;
    color: #424946;
    border-radius: 2.5px;
    box-shadow: -2px 2px 3px #424946;
}

.app__FAQ-backbutton:hover {
    cursor: pointer;
}

.app__FAQ-header {
    display: flex;
    background-color: white;
    color: #424946;
    font-size: xx-large;
    margin: 3rem 0;
    border-radius: 0.5rem;
    padding: 0.65rem 1.5rem;

    @media screen and (max-width: 515px) {
        font-size: large;
    }
}

.app__FAQ-component {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1.25rem;
}

.app__FAQ-align {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5rem;
    color: #424946;
    background-color: white;
    box-shadow: -2px 2px 3px #424946;
}

.app__FAQ-align:hover {
    cursor: pointer;
}

.app__FAQ-align-active {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5rem;
    color: #424946;
    background-color: white;
}

.app__FAQ-align-active:hover {
    cursor: pointer;
}

h4 {
    padding: 0 0.5rem;
    text-align: left;
}

p {
    padding: 0 0.3rem;
    text-align: left;
}

.app__FAQ-answer {
    display: flex;
    justify-content: flex-start;
    line-height: 1.5rem;
    padding: 0 1.5rem;
    color: #424946;
    background-color: white;
}

.app__FAQ-answer-hidden {
    visibility: hidden;
}

.app__FAQ-plus-hidden {
    visibility: hidden;
    position: absolute;
}

.app__FAQ-minus-hidden {
    visibility: hidden;
    position: absolute;
}